.Home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home__form-main {
    background-color: white;
    margin-top: 20%;
    padding: 100px;
}

.form-items--main {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.form-items--main-name {
    padding: 10px;
    margin-bottom: 25px;
    font-size: large;
}

.form-items--main-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}