.Home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* .TextField {
    display: flex;
    flex-direction: row;
} */

h1 {
    color: brown;
}

.InfoCards {
    background-color: brown;
    padding: 0;
    display: flex;
}