.Results-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Results-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-left {
    
}

.col-right {

}

.no-results {
    font-family: Verdana, sans-serif;
    margin-top: 5%;
    font-size: 16px;
}