.InfoCard-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 10px;
}

.InfoCard-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 7px 0;
}

.card-title h2 {
    font-family: Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
    /* color: #0e4259; */
}

.card-image {
    /* width: 200px;
    height: 400px; */
    /* padding: 10px%; */
}


.card-detail {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 20px 20px 0 20px;
    /* justify-content: space-between; */
    /* align-items: stretch; */
    
    font-family: Verdana, sans-serif;
}

.animeCard__paper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.animeCard__paper:hover {
    background-color: #8aa9bf;
    opacity: 0.8;
}

.MALbutton:hover {
    background-color: #678fac;
}

.image-and-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
}