.PageHeader-container {
    /* background-color: #22567a; */
    background-image: linear-gradient(#326990,#2b5f85);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: fit-content;
    /* border-radius: 20px; */
}

.header {
    min-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.header-image {
    padding-right: 12px;
}

.header-title {
    padding-right: 10px;
}

.home-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-title {
    font-size: 16px;
    color: white;
    font-family: Verdana, sans-serif;
}

.home-text {
    font-size: 16px;
    color: white;
    font-family: "Prompt", sans-serif;
}

.home-text:hover {
    /* color: red; */
    text-decoration: none;
}

.search-section {
    display: flex;
}

.home__form-header {
    background-color: transparent;
}

.form-items--header {
    display: flex;  
    flex-direction: row;
    align-items: center;
}

.input-test {
    color: white;
}